.app-login-content {
  padding: 1em;
}
.app-login-form {
  
  .list {
    margin-bottom: 0;
    
    .item {
      margin-bottom: 0.5em;
    }
  }
  .item-input {
    margin-bottom: 0.5em;
    background-color: $grey_50;
    border-color: $grey_100;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}


